<?xml version="1.0"?>
<config>
    <modules>
        <XFE_InvoiceAdjustment>
            <version>1.0.0</version>
        </XFE_InvoiceAdjustment>
    </modules>
    <global>
        <models>
            <invoiceadjustment>
                <class>XFE_InvoiceAdjustment_Model</class>
                <resourceModel>invoiceadjustment_resource</resourceModel>
            </invoiceadjustment>
            <invoiceadjustment_resource>
                <class>XFE_InvoiceAdjustment_Model_Resource</class>
                <entities>
                    <adjustment>
                        <table>invoice_adjustment</table>
                    </adjustment>
                    <adjustment_order>
                        <table>invoice_adjustment_order</table>
                    </adjustment_order>
                </entities>
            </invoiceadjustment_resource>
        </models>
        <blocks>
            <invoiceadjustment>
                <class>XFE_InvoiceAdjustment_Block</class>
            </invoiceadjustment>
        </blocks>
        <helpers>
            <invoiceadjustment>
                <class>XFE_InvoiceAdjustment_Helper</class>
            </invoiceadjustment>
        </helpers>
        <resources>
            <invoiceadjustment_setup>
                <setup>
                    <module>XFE_InvoiceAdjustment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </invoiceadjustment_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <XFE_InvoiceAdjustment before="Mage_Adminhtml">XFE_InvoiceAdjustment_Adminhtml</XFE_InvoiceAdjustment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <invoiceadjustment translate="title">
                        <title>Invoice Adjustments</title>
                        <sort_order>200</sort_order>
                        <action>adminhtml/invoiceadjustment_adjustment/index</action>
                    </invoiceadjustment>
                </children>
            </sales>
        </menu>
        <layout>
            <updates>
                <invoiceadjustment>
                    <file>invoiceadjustment.xml</file>
                </invoiceadjustment>
            </updates>
        </layout>
    </adminhtml>
</config>
