<?xml version="1.0"?>
<config>
    <modules>
        <XFE_ShippingRule>
            <version>1.0.1</version>
        </XFE_ShippingRule>
    </modules>
    <global>
        <models>
            <xfeshippingrule>
                <class>XFE_ShippingRule_Model</class>
                <resourceModel>xfeshippingrule_resource</resourceModel>
            </xfeshippingrule>
            <xfeshippingrule_resource>
                <class>XFE_ShippingRule_Model_Resource</class>
                <entities>
                    <type>
                        <table>xfeshipping_type</table>
                    </type>
                    <rule>
                        <table>xfeshipping_rule</table>
                    </rule>
                    <condition_group>
                        <table>xfeshipping_condition_group</table>
                    </condition_group>
                    <condition>
                        <table>xfeshipping_condition</table>
                    </condition>
                </entities>
            </xfeshippingrule_resource>
        </models>
        <blocks>
            <xfeshippingrule>
                <class>XFE_ShippingRule_Block</class>
            </xfeshippingrule>
        </blocks>
        <helpers>
            <xfeshippingrule>
                <class>XFE_ShippingRule_Helper</class>
            </xfeshippingrule>
        </helpers>
        <resources>
            <xfeshippingrule_setup>
                <setup>
                    <module>XFE_ShippingRule</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xfeshippingrule_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <XFE_ShippingRule before="Mage_Adminhtml">XFE_ShippingRule_Adminhtml</XFE_ShippingRule>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <xfeshippingrule translate="title">
                        <title>Shipping Rules</title>
                        <sort_order>210</sort_order>
                        <action>adminhtml/shippingrule_rule/index</action>
                    </xfeshippingrule>
                    <xfeshippingrule_type translate="title">
                        <title>Shipping Rule Types</title>
                        <sort_order>220</sort_order>
                        <action>adminhtml/shippingrule_type/index</action>
                    </xfeshippingrule_type>
                </children>
            </sales>
        </menu>
        <layout>
            <updates>
                <xfeshippingrule>
                    <file>xfeshippingrule.xml</file>
                </xfeshippingrule>
            </updates>
        </layout>
    </adminhtml>
</config>
