<?xml version="1.0"?>
<config>
    <tabs>
        <xfe translate="title">
            <label>XFE</label>
            <sort_order>250</sort_order>
        </xfe>
    </tabs>
    <sections>
        <xfeoauth2 translate="label" module="xfeoauth2">
            <label>OAuth2 Login</label>
            <tab>xfe</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <redirect_page translate="label">
                            <label>Login Redirect Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cms_page</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Page to redirect after social login</comment>
                        </redirect_page>
                    </fields>
                </general>
                <google translate="label">
                    <label>Google Login</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <client_id translate="label">
                            <label>Client ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </client_id>
                        <client_secret translate="label">
                            <label>Client Secret</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </client_secret>
                        <callback_url translate="label">
                            <label>Callback URL</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[<span id="xfeoauth2_google_callback">https://example.com/oauth2/login/callback?provider=google</span>]]></comment>
                        </callback_url>
                    </fields>
                </google>
                <wechat translate="label">
                    <label>WeChat Login</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <app_id translate="label">
                            <label>App ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </app_id>
                        <app_secret translate="label">
                            <label>App Secret</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </app_secret>
                        <callback_url translate="label">
                            <label>Callback URL</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[<span id="xfeoauth2_wechat_callback">https://example.com/oauth2/login/callback?provider=wechat</span>]]></comment>
                        </callback_url>
                    </fields>
                </wechat>
            </groups>
        </xfeoauth2>
    </sections>
</config>
