<?xml version="1.0"?>
<config>
    <modules>
        <XFE_CheckoutErrors>
            <version>0.1.0</version>
        </XFE_CheckoutErrors>
    </modules>
    <global>
        <models>
            <xfe_checkouterrors>
                <class>XFE_CheckoutErrors_Model</class>
                <resourceModel>xfe_checkouterrors_resource</resourceModel>
            </xfe_checkouterrors>
            <xfe_checkouterrors_resource>
                <class>XFE_CheckoutErrors_Model_Resource</class>
                <entities>
                    <checkout_error>
                        <table>xfe_checkout_error</table>
                    </checkout_error>
                </entities>
            </xfe_checkouterrors_resource>
        </models>
        <resources>
            <CheckoutErrors_setup>
                <setup>
                    <module>XFE_CheckoutErrors</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </CheckoutErrors_setup>
        </resources>
        <blocks>
            <xfe_checkouterrors_adminhtml>
                <class>XFE_CheckoutErrors_Block_Adminhtml</class>
            </xfe_checkouterrors_adminhtml>
        </blocks>
        <helpers>
            <xfe_checkouterrors>
                <class>XFE_CheckoutErrors_Helper</class>
            </xfe_checkouterrors>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <XFE_CheckoutErrors before="Mage_Adminhtml">XFE_CheckoutErrors_Adminhtml</XFE_CheckoutErrors>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <xfe_checkout_errors translate="title" module="xfe_checkouterrors">
                        <title>Checkout 错误记录</title>
                        <action>adminhtml/xfe_checkoutError</action>
                        <sort_order>100</sort_order>
                    </xfe_checkout_errors>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <xfe_checkout_errors>
                                    <title>Checkout 错误记录</title>
                                </xfe_checkout_errors>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <XFE_CheckoutErrors before="Mage_Checkout">XFE_CheckoutErrors</XFE_CheckoutErrors>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>
