<?xml version="1.0"?>
<config>
    <modules>
        <XFE_DocumentUpload>
            <version>1.0.0</version>
        </XFE_DocumentUpload>
    </modules>
    <global>
        <models>
            <xfe_documentupload>
                <class>XFE_DocumentUpload_Model</class>
            </xfe_documentupload>
        </models>
        <blocks>
            <xfe_documentupload>
                <class>XFE_DocumentUpload_Block</class>
            </xfe_documentupload>
        </blocks>
        <helpers>
            <xfe_documentupload>
                <class>XFE_DocumentUpload_Helper</class>
            </xfe_documentupload>
        </helpers>
    </global>
    <frontend>
        <routers>
            <xfe_documentupload>
                <use>standard</use>
                <args>
                    <module>XFE_DocumentUpload</module>
                    <frontName>xfe_documentupload</frontName>
                </args>
            </xfe_documentupload>
        </routers>
        <layout>
            <updates>
                <xfe_documentupload>
                    <file>xfe_documentupload.xml</file>
                </xfe_documentupload>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <xfe_documentupload before="Mage_Adminhtml">XFE_DocumentUpload_Adminhtml</xfe_documentupload>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <xfe_documentupload translate="title">
                        <title>Document Upload</title>
                        <sort_order>240</sort_order>
                        <action>adminhtml/documentupload/index</action>
                    </xfe_documentupload>
                </children>
            </sales>
        </menu>
        <layout>
            <updates>
                <xfe_documentupload>
                    <file>xfe_documentupload.xml</file>
                </xfe_documentupload>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <xfe_documentupload>
            <carriers>
                <colissimo>
                    <model>xfe_documentupload/carrier_colissimo</model>
                </colissimo>
            </carriers>
        </xfe_documentupload>
    </default>
</config>