<?xml version="1.0"?>
<config>
    <modules>
        <XFE_LogisticsCarriersLabel>
            <version>1.0.1</version>
        </XFE_LogisticsCarriersLabel>
    </modules>
    <global>
        <models>
            <xcarrierslabel>
                <class>XFE_LogisticsCarriersLabel_Model</class>
                <resourceModel>xcarrierslabel_resource</resourceModel>
            </xcarrierslabel>
            <xcarrierslabel_resource>
                <class>XFE_LogisticsCarriersLabel_Model_Resource</class>
                <entities>
                    <rule>
                        <table>xcarrierslabel_rule</table>
                    </rule>
                    <condition_group>
                        <table>xcarrierslabel_condition_group</table>
                    </condition_group>
                    <condition>
                        <table>xcarrierslabel_condition</table>
                    </condition>
                </entities>
            </xcarrierslabel_resource>
        </models>
        <blocks>
            <xcarrierslabel>
                <class>XFE_LogisticsCarriersLabel_Block</class>
            </xcarrierslabel>
        </blocks>
        <helpers>
            <xcarrierslabel>
                <class>XFE_LogisticsCarriersLabel_Helper</class>
            </xcarrierslabel>
        </helpers>
        <resources>
            <xcarrierslabel_setup>
                <setup>
                    <module>XFE_LogisticsCarriersLabel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xcarrierslabel_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <xcarrierslabel>
                <use>standard</use>
                <args>
                    <module>XFE_LogisticsCarriersLabel</module>
                    <frontName>xcarrierslabel</frontName>
                </args>
            </xcarrierslabel>
        </routers>
        <layout>
            <updates>
                <xcarrierslabel>
                    <file>xcarriers_label.xml</file>
                </xcarrierslabel>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <XFE_LogisticsCarriersLabel before="Mage_Adminhtml">XFE_LogisticsCarriersLabel_Adminhtml</XFE_LogisticsCarriersLabel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <xcarrierslabel translate="title">
                        <title>Logistic Carriers Label</title>
                        <sort_order>230</sort_order>
                        <action>adminhtml/xcarrierslabel_rule/index</action>
                    </xcarrierslabel>
                </children>
            </sales>
        </menu>
        <layout>
            <updates>
                <xcarrierslabel>
                    <file>xcarrierslabel.xml</file>
                </xcarrierslabel>
            </updates>
        </layout>
    </adminhtml>
</config>
