<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <XFE_LabelPrint>
            <version>1.0.0</version>
        </XFE_LabelPrint>
    </modules>
    <global>
        <blocks>
            <xfe_labelprint>
                <class>XFE_LabelPrint_Block</class>
            </xfe_labelprint>
        </blocks>
        <helpers>
            <xfe_labelprint>
                <class>XFE_LabelPrint_Helper</class>
            </xfe_labelprint>
        </helpers>
        <models>
            <xfe_labelprint>
                <class>XFE_LabelPrint_Model</class>
                <resourceModel>xfe_labelprint_mysql4</resourceModel>
            </xfe_labelprint>
            <xfe_labelprint_mysql4>
                <class>XFE_LabelPrint_Model_Resource</class>
                <entities>
                    <print>
                        <table>xfe_label_print</table>
                    </print>
                </entities>
            </xfe_labelprint_mysql4>
        </models>
        <resources>
            <labelprint_setup>
                <setup>
                    <module>XFE_LabelPrint</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </labelprint_setup>
            <labelprint_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </labelprint_write>
            <labelprint_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </labelprint_read>
        </resources>
        <events>
            <xfe_labelprint_response_received>
                <observers>
                    <xfe_labelprint_observer_response>
                        <class>xfe_labelprint/observer</class>
                        <method>onResponseReceived</method>
                    </xfe_labelprint_observer_response>
                </observers>
            </xfe_labelprint_response_received>
            <xfe_labelprint_response_replace_files>
                <observers>
                    <xfe_labelprint_observer_response_replace_files>
                        <class>xfe_labelprint/observer</class>
                        <method>onResponseReplaceFiles</method>
                    </xfe_labelprint_observer_response_replace_files>
                </observers>
            </xfe_labelprint_response_replace_files>
        </events>
    </global>
    <admin>
        <routers>
            <xfe_labelprint>
                <use>admin</use>
                <args>
                    <module>XFE_LabelPrint</module>
                    <frontName>xfe_labelprint</frontName>
                </args>
            </xfe_labelprint>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <xfe_labelprint_print translate="title" module="xfe_labelprint">
                        <title>Label Print</title>
                        <action>xfe_labelprint/admin_print/index</action>
                        <sort_order>999</sort_order>
                    </xfe_labelprint_print>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <xfe_labelprint_print translate="title" module="xfe_labelprint">
                                    <title>Label Print</title>
                                    <sort_order>999</sort_order>
                                </xfe_labelprint_print>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>