<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <XFE_LabelPrint>
            <version>1.0.0</version>
        </XFE_LabelPrint>
    </modules>
    <global>
        <models>
            <xfe_labelprint>
                <class>XFE_LabelPrint_Model</class>
                <resourceModel>xfe_labelprint_resource</resourceModel>
            </xfe_labelprint>
            <xfe_labelprint_resource>
                <class>XFE_LabelPrint_Model_Resource</class>
                <entities>
                    <print>
                        <table>xfe_label_print</table>
                    </print>
                </entities>
            </xfe_labelprint_resource>
        </models>
        <blocks>
            <xfe_labelprint>
                <class>XFE_LabelPrint_Block</class>
            </xfe_labelprint>
        </blocks>
        <helpers>
            <xfe_labelprint>
                <class>XFE_LabelPrint_Helper</class>
            </xfe_labelprint>
        </helpers>
        <resources>
            <labelprint_setup>
                <setup>
                    <module>XFE_LabelPrint</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </labelprint_setup>
            <labelprint_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </labelprint_write>
            <labelprint_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </labelprint_read>
        </resources>
    </global>
    <events>
        <xfe_labelprint_response_received>
            <observers>
                <xfe_labelprint_observer_response>
                    <class>xfe_labelprint/observer</class>
                    <method>onResponseReceived</method>
                </xfe_labelprint_observer_response>
            </observers>
        </xfe_labelprint_response_received>
    </events>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <xfe_labelprint after="Mage_Adminhtml">XFE_LabelPrint_Adminhtml</xfe_labelprint>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <xfe_labelprint translate="title" module="xfe_labelprint">
                        <title>Label Print</title>
                        <sort_order>140</sort_order>
                        <action>adminhtml/print/index</action>
                    </xfe_labelprint>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <xfe_labelprint translate="title" module="xfe_labelprint">
                                    <title>Label Print</title>
                                </xfe_labelprint>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <xfe_labelprint>
                    <file>xfe_labelprint.xml</file>
                </xfe_labelprint>
            </updates>
        </layout>
    </adminhtml>
</config>

